<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'musica_ludum/dashboard.css' %}">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src='http://www.midijs.net/lib/midi.js'></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'musica_ludum/images/music.ico' %}"/>
    <title>Musica Ludum</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-compact-disc"></i> Musica Ludum</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Free Mode</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'game' %}">Game Mode <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>   
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container compose-list">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="text-center">Compositions</h2>
                <div class="card" style="margin: 0.5em;">
                    <ul class="list-group list-group-flush">
                        {% if midis %}
                            {% for midi in midis %}
                                <li class="list-group-item d-flex justify-content-around">
                                    {{midi.piece_name}}
                                    <a href="{% url 'getMIDI' midi.id %}" class="download-link"><i class="fas fa-cloud-download-alt"></i> Download</a>
                                    <a href="" class="rename-link" data-toggle="modal" data-target="#rename_{{midi.id}}"><i class="fas fa-user-edit"></i> Rename</a>
                                    <div class="modal fade" id="rename_{{midi.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Rename your MIDI file</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="POST" action="{% url 'renameMIDI' midi.id %}">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="new-name" class="col-form-label">Rename:</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" id="new-name" name="new-name" placeholder="MIDI's file name">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" id="basic-addon">.mid</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-primary" id="rename-btn">Rename</button>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'deleteMIDI' midi.id %}"><i class="fas fa-trash"></i> Delete</a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">You don't have compositions yet. </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <h2 class="text-center">Discover</h2>
                <div class="card" style="margin: 0.5em;">
                    <div class="card-body">
                        <h4>Not a good composer? No worries, AI would help you.</h4>
                        <p style="text-align: center;">Note: every time you download you'll get a different rhythm.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if midis %}
                            {% for midi in midis %}
                                <li class="list-group-item d-flex justify-content-around">
                                    {{midi.piece_name}}
                                    <a href="{% url 'simpleCompose' midi.id %}"><i class="fas fa-cloud-download-alt"></i> Simple</a>
                                    <button onclick="play_simple('{{midi.id}}')" class="play-btn"><i class="far fa-file-audio"></i> Simple-Play</button>
                                    <a href="{% url 'complexCompose' midi.id %}"><i class="fas fa-cloud-download-alt"></i> Complex</a> 
                                    <button onclick="play_complex('{{midi.id}}')" class="play-btn"><i class="far fa-file-audio"></i> Complex-Play</button>
                                    <button onclick="MIDIjs.stop();" class="stop-play-btn"><i class="far fa-stop-circle"></i> Stop</button>
                                </li>
                                {% endfor %}
                            {% else %}
                                <li class="list-group-item">You don't have compositions yet. </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'musica_ludum/dashboard.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>