{% extends "musica_ludum/navbar.html" %}

{% block navbar %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user-alt"></i> Login</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <h1 style="margin: 1em;">Register</h1>
    <form method="post" action="{% url 'register' %}">
        <table style="margin: 1em auto;">
            {% for field in form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}}</td>
                    <td class="error">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% csrf_token %}
        <button type="submit" class="btn btn-dark" id="id_register_button">Submit</button>
    </form>

    {% for error in form.non_field_errors %}
        <p class="errorlist">
            {{ error }}
        </p>
    {% endfor %}

{% endblock %}
