<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'musica_ludum/singlegame.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'musica_ludum/images/music.ico' %}"/>
    <title>Musica Ludum</title>
</head>
<body onload="onloadfunc()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fas fa-compact-disc"></i> Musica Ludum</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Free Mode</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'game' %}">Game Mode <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div> -->
    <!--                     <a class="dropdown-item" href="accounts/login">Logout</a> -->
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    
                </div>
                </li>
            </ul>
            </div>
        </nav>

    <section class="singlegame">


    <div class="heading">
            <h1>Single Player</h1>
            <span id="play" class="btns" onclick="startGame();">PLAY(F2)</span>
            <span id="pause" class="btns" onclick="pauseGame();">PAUSE(SPACE)</span>
            <span id="exit" class="btns" onclick="stopGame();">EXIT(F4)</span>
            <p><audio id="bgm" src="{% static 'musica_ludum/MusicLib/Happy-birthday-piano-music.mp3' %}"></audio></p>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
                <!-- <p><audio id="bgm" src="raw/m01.mp3"></audio></p> -->
                <!-- <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>        -->
            <!-- </div> -->
    </div>
    
        <div class="scoreboard">
            <p>Score:  <!-- <span id="score"></span> --></p>
            <ol id="score"></ol>  
            <!-- <input class="display" type="text" id="score" value="0" readonly> -->



        </div>

        <div class="mainwin"  id="blacknwhite">
            <div id="row001" class="row">
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
            </div>
 
            <div id="row002" class="row">
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
            </div>
 
            <div id="row003" class="row">
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
            </div>
 
            <div id="row004" class="row">
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
            </div>
 
            <div id="row005" class="row">
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
            </div>

            <div id="row006" class="row">
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
                <div class="grid-default"></div>
            </div>
 
            <div id="marginline" class="row"></div>

            <div id = "keyline" class="row">
            <span class="keys">S</span>
            <span class="keys">D</span>
            <span class="keys">F</span>
            <span class="keys">G</span>
            <span class="keys">H</span>
            <span class="keys">J</span>
            <span class="keys">K</span>
            <span class="keys">L</span>
        </div>
    
    </div>
 

    
 
    <script src="{% static 'musica_ludum/singlegame.js' %}"></script>

    </section>

   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>